.admin_main_wrap {
    margin: 0 auto;
    position: relative;
    width: 1200px;
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.admin_main_wrap div {
    margin: 20px;
    font-size: 36px;
    background-color: white;
    border: 2px solid lightgray;
    cursor: pointer;
    border-radius: 20px;
    padding: 10px;
}

.admin_main_wrap button:hover {
    background-color: lightgreen;
}

