.find_account_btn_wrapper {
  position: relative;
  margin: auto;
  display: block;
  width: 100%;
  height: 350px;
}

.find_account_btn_wrapper h2 {
  margin: 65px auto;
  text-align: center;
  color: black;
  font-weight: 400;
  position: relative;
  display: block;
  padding-top: 40px;
}

.find_btn_acc {
  border-radius: 100px;
  width: 350px;
  background-color: #b5d692;
  font-weight: bold;
  color: white;
  height: 50px;
  border: none;
  margin: 10px auto;
  box-shadow: 0px 0px 10px inset rgb(8 81 0 / 25%);
}

.find_btn_acc:hover {
  background-color: hsl(89, 56%, 67%);
  color: black;
}

.find_btn_acc_wrap {
  width: 100%;
  height: 200px;
  position: relative;
  justify-content: center;
  padding-top: 10px;
  display: inline-block;
}

.find_account_wrapper {
  width: 600px;
  height: 400px;
  color: aliceblue;
  border-radius: 10px;
  font-weight: bold;
  font-size: large;
  margin: 15px auto;
  box-shadow: 0px 0px 8px rgb(0 0 0 / 35%);
}

.find_btn_wrap a {
  text-decoration: none;
}

.find_btn_box {
  width: 350px;
  margin: auto;
}
