

.mypageresearch_main {
    width: 930px;
    height: 100%;
}

.mypageresearch_header h1 {
    font-size: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid black;
}

.mypageresearch_header {
    display: table;
    width: 100%;
    padding: 10px 20px;
}
.mypageresearch_subtitle {
    width: 930px;
}
.mypageresearch_subtitle strong {
    font-weight: 500;
    font-size: 20px;
    padding-left: 20px;
}
.mypageresearch_list {
    width: 100%;
}

.mypageresearch_list table {
    width: 100%;
    margin: 0 0 20px 0;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
    border-top: 1px solid #3c3c3c;
    text-align: center;
}

.mypageresearch_list td {
    padding: 13px 30px 13px 10px;
    border-bottom: 1px solid #dbdbdb;
}

.mypageresearch_list th {
    padding: 13px 30px 13px 10px;
    border-bottom: 1px solid #dbdbdb;
    background: #fbfbfb;
}

.mypageresearch_btn {
    float: right;
    margin-bottom: 70px;
}
.mypageresearch_title_wrap h2 {
    font-size: 36px;
    height: 65px;
    align-items: center;
    font-weight: bold;
    border-bottom: 2px solid black;
}

.mypageresearch_title_wrap {
    margin-bottom: 15px;
}

.mypageresearch_btn_del{
    width: 100px;
    height: 50px;
    background-color: white;
    font-weight: bold;
    border: 2px solid #e5e5e5;
    border-radius: 30px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    margin-right: 15px;
}

.mypageresearch_btn_cle {
    width: 100px;
    height: 50px;
    background-color: white;
    font-weight: bold;
    border: 2px solid #e5e5e5;
    border-radius: 30px;
    width: 100px;
    height: 30px;
    cursor: pointer;
}
.mypageresearch_btn_cle:hover {
    background-color: #b5d692;
    color: white;
}

.mypageresearch_btn_del:hover {
    background-color: red;
    color: white;
}
.mypageresearch_btn_cle:active {
    background-color: #b5d692;
    color: white;
}

.mypageresearch_btn_del:active {
    background-color: red;
    color: white;
}


.mypageresearch_subtitle img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 30px;
}

.mypageresearch_list td input {
    width: 21px;
    height: 21px;
    border-radius: 20%;
    border: 2px solid #e5e5e5;
    margin: 0;
}

.mypageresearch_list td input:active {
    background-color: #e9f4ec;;
    border: none;
}

.mypageresearch_list td input:checked {
    background-color: #e9f4ec;
    background-image: url('../Img/checkimg.svg');
}
