#paging {
  width: 100%;
}

#paging .pagination {
  display: flex;
  justify-content: center;
  margin-top: 45px;
  margin-bottom: 45px;
}

#paging ul {
  list-style: none;
  padding: 0;
  width: auto;
  height: auto;
}

#paging ul.pagination li {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin: unset;
  text-align: unset;
}

#paging ul.pagination li:first-child {
  border-radius: 5px 0 0 5px;
}

#paging ul.pagination li:last-child {
  border-radius: 0 5px 5px 0;
}

#paging ul.pagination li a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  padding: 10px 14px;
}

#paging ul.pagination li.active a {
  color: white;
}

#paging ul.pagination li.active {
  background-color: #b5d692;
}

#paging ul.pagination li a:hover {
  color: green;
}

.page-selection {
  width: 48px;
  height: 30px;
  color: #b5d692;
}
